<nav class="navbar">
    <ul class="navbar__wrapper">
        <li class="navbar__item navbar-logo">
            <a class="navbar__link" href="/">LOGO</a>
        </li>
        <div class="navbar__group-right">
            <li class="navbar__item">
                <a class="navbar__link" href="/">Home</a>
            </li>
            {{#if user}}
            <li class="dropdown">
                <a href="#" class="dropbtn">Notes</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/notes">Notes</a>
                    <a href="/notes/add">Add Note</a>
                </div>
            </li>
            {{else}}
            <li class="navbar__item">
                <a class="navbar__link" href="/users/login">Login</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/users/register">Register</a>
            </li>
            {{/if}}
            <li class="navbar__item">
                <a class="navbar__link" href="/about">About</a>
            </li>
        </div>
    </ul>
</nav>