

<div class="container">
    <div class="box">
        <h1 class="box__title text-to-center">{{title}}</h1>
    <p class="box__description text-to-center">Just write your notes here</p>
    <a class="box__link text-to-center" href="/notes/add">Add your note</a>
    </div>
</div>