<div class="container">
    <div class="form-wrapper">
        <h3 class="form__description text-to-center">Your note</h3>
        <form action="/notes" method="post">
            <div class="input__wrapper">
                <input type="text" class="input" name="title" placeholder="title" required>
            </div>
            <div class="input__wrapper">
                <textarea type="text" class="text-area" name="details" placeholder="Details" required></textarea>
            </div>
            <div class="btn__wrapper"><button type="submit" class="btn_submit">Submit</button></div>
        </form>
    </div>
</div>